backend/Kalshi.Api/bin
backend/Kalshi.Api/obj
backend/KSignal.API/bin
backend/KSignal.API/obj
web/bin
web/obj
shared/KSignals.DTO/bin
shared/KSignals.DTO/obj
firebase_credentials_raw.json
firebase-credentials.json
.env
.env.*
logs/backend.log
logs/frontend.log
backend/KSignal.API.Tests/obj
backend/KSignal.API.Tests/bin
backend/KSignal.API/.dotnet
