.main {
    min-height: 100vh;
    padding-bottom: 4rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.leftCol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rightCol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}